@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: "JotiOne-Regular";
    src: url("../public/Fonts/Joti_One/JotiOne-Regular.ttf");
}

@font-face{
    font-family: "Inter-Regular";
    src: url("../public/Fonts/Inter/Inter_18pt-Regular.ttf");
}

@font-face{
    font-family: "Inter-Bold";
    src: url("../public/Fonts/Inter/Inter_18pt-Bold.ttf");
}